// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/styles.scss";

.col-lg-8 img {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
  margin: 20px auto;
}